<!DOCTYPE html>
<html>
  <head>
    <title>Churn Detection</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
  </head>
  <body>
    <nav>
      <label>Churn Prediction System</label>
      <ul>
        <li>
          <a href="/">About</a>
          <a href="predict">Predict</a>
          <a href="/contact">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <h3>Churn Prediction System</h3>
      <p style="margin-left: 16%">
        Customer churn prediction identifies which customers are at a high risk
        of canceling their subscription or abandoning your product.
      </p>
      <button type="button" onclick="redirectToNewPage()">
        Click Here to predict
      </button>
    </div>

    <h4>About</h4>
    <p>
      A churn detection system helps businesses proactively manage customer
      retention by leveraging predictive analytics and data-driven insights.
    </p>

    <ul>
      <li>
        <b>Accurate Predictions:</b> Identifies customers likely to churn using
        advanced models.
      </li>
      <br />
      <li>
        <b>Data Insights:</b> Analyzes customer behavior and patterns to
        understand churn drivers.
      </li>
      <br />
      <li>
        <b>Retention Strategies:</b> Provides actionable recommendations to
        improve customer retention.
      </li>
    </ul>

    <div class="navbar">
      <h2>Develeoped by @Ajay Poonia</h2>
    </div>
    <script>
      function redirectToNewPage() {
        // Redirect to a new HTML page
        window.location.href = "predict.html";
      }
    </script>
  </body>
</html>
